/*NAVIGASI*/
.nv{
    top: 0%;
    left: 0%;
    right: 0%;
    position:fixed;
    background-color: #3C8D9E;
    
}
.nv h1 a{
    padding-top: 1%;
    padding-left: 1%;
    text-decoration:none;
    color: rgb(255, 255, 255);
    float: left;
    
}
.nv ul{
    float: right;
    
}
.nv ul li{
    display: inline-block;
    margin: 20px;
    
}
.nv ul li a{
    display: inline-block;
    text-decoration:none;
    color: white;
}
.nv ul li a:hover{
    color:aqua;
}
.nv ul li a::after{
    color:rgb(0, 0, 0);
}

/* UBAH PAKAN */
.ubh-pakan{
    color: white;
}
.ubh-pakan input{
    border: none;
    background: #6EABB8;
    display: block;
    margin: 15px auto;
    text-align: left;
    outline-color: #26B3F0;
    padding: 14px 10px;
    width: 450px;
    color: rgb(255, 255, 255);
    border-radius: 24px;;
    transition: 0.25s;
    font-family: 'roboto';
}
.ubh-pakan small{
    font-family: 'roboto';
    color: rgb(211, 21, 21);
    border-top:#ffffff;
    border-bottom:#ffffff ;
    border-left: #ffffff;
    border-right:#ffffff ;

}
.ubh-pakan h6{
    color: black;
}
.ubh-pakan textarea{
    border: none;
    background: #6EABB8;
    display: block;
    margin: 20px auto;
    text-align: left;
    outline-color: #26B3F0;
    padding: 14px 10px;
    width: 450px;
    color: rgb(255, 255, 255);
    border-radius: 24px;;
    transition: 0.25s;
    font-family: 'roboto';
}
.ubh-pakan button{
    border: 0;
    background:#26B3F0;
    font-weight: bold;
    font-size:x-large;
    margin: 35px auto;
    text-align: center;
    padding: 10px 30px;
    outline: #0603ca;
    color: #fff;;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
    font-family: 'roboto';
}
.txt-plchd::-webkit-input-placeholder{
    color: white;
}
.txt-plchd::-moz-input-placeholder{
    color: white;
}
.txt-plchd::-ms-input-placeholder{
    color: white;
}